:root {
  --bolt-color-violet: #5f67b9;
  --bolt-color-navy: #001f5f;
  --bolt-color-yellow: #ffc836;
  --bolt-color-black: #000;
  --bolt-color-white: #fff;
  --bolt-color-gray-light: #e0e2eb;
  --bolt-type-line-height-xsmall: 1.4;
  --bolt-type-line-height-small: 1.45;
  --bolt-type-line-height-medium: 1.55;
  --bolt-type-line-height-multiplier-tight: 0.77;
  --bolt-type-font-family-body: Open Sans, var(--bolt-type-font-family-fallback);
  --bolt-type-font-size-xsmall: 0.8rem;
  --bolt-type-font-size-small: 0.9rem;
  --bolt-type-font-size-medium: 1rem;
  --bolt-type-font-weight-regular: 400;
  --bolt-type-font-weight-bold: 800;
  --bolt-spacing-x: 1.55;
  --bolt-spacing-y: 1.35;
  --bolt-spacing-multiplier-xxsmall: 0.125;
  --bolt-spacing-multiplier-xsmall: 0.25;
  --bolt-spacing-multiplier-small: 0.5;
  --bolt-spacing-multiplier-medium: 1;
  --bolt-spacing-multiplier-large: 2;
  --bolt-spacing-multiplier-xlarge: 4;
  --bolt-spacing-multiplier-xxlarge: 8;
  --bolt-spacing-multiplier-xxxlarge: 16;
  --bolt-spacing-x-xxsmall: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xxsmall) * 1rem
  );
  --bolt-spacing-x-xsmall: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xsmall) * 1rem
  );
  --bolt-spacing-x-small: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-small) * 1rem
  );
  --bolt-spacing-x-medium: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-medium) * 1rem
  );
  --bolt-spacing-x-large: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-large) * 1rem
  );
  --bolt-spacing-x-xlarge: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xlarge) * 1rem
  );
  --bolt-spacing-x-xxlarge: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xxlarge) * 1rem
  );
  --bolt-spacing-x-xxxlarge: calc(
    var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xxxlarge) * 1rem
  );
  --bolt-spacing-y-xxsmall: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xxsmall) * 1rem
  );
  --bolt-spacing-y-xsmall: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xsmall) * 1rem
  );
  --bolt-spacing-y-small: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-small) * 1rem
  );
  --bolt-spacing-y-medium: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-medium) * 1rem
  );
  --bolt-spacing-y-large: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-large) * 1rem
  );
  --bolt-spacing-y-xlarge: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xlarge) * 1rem
  );
  --bolt-spacing-y-xxlarge: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xxlarge) * 1rem
  );
  --bolt-spacing-y-xxxlarge: calc(
    var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xxxlarge) * 1rem
  );
  --bolt-transition-ease: ease-in-out;
  --bolt-transition-timing: 200ms;
  --bolt-transition: var(--bolt-transition-ease) var(--bolt-transition-timing);
  --m-bolt-primary: navy;
  --m-bolt-text-on-primary: white;
}
