@mixin bolt-visuallyhidden($important: null) {
  @if $important == important {
    $important: !important;
  }
  position: absolute $important;
  z-index: -1; // Fix flickering/hovering issues on facets on Search pages (DS-422)
  width: 1px $important;
  height: 1px $important;
  overflow: hidden $important;
  margin: -1px $important;
  padding: 0 $important;
  border: 0 $important;
  clip: rect(0 0 0 0) $important;
  clip-path: inset(50%) $important;
  white-space: nowrap $important;
}
